<div class="description">
    <span><u>{{Title}}</u> </span>
    <br />
    <a href="/movie/{{imdbID}}"><img src="{{Poster}}" alt="movie" width="100px" height="100px" /></a>
    <br />
    <span>Released in {{this.Year}}</span>
</div>