<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>
    </nav>

    <h1>{{title}}</h1>

    <ul class="cat_list">
    {{#each catsList}}
        <li>{{this.name}} is a {{this.breed}}</li>
    {{/each}}
    </ul>
</body>
</html>