<h1>Search</h1>

<form action="/search" method="get">
    <input type="text" name="q" placeholder="Enter the username you are looking for...">
    <button type="submit">Search</button>
</form>

<br/>

<ul>
{{#each users}}
    <li><a href="/profile/{{username}}">{{username}}</a></li>
{{/each}}
</ul>
